<ion-header>
  <ion-toolbar>
    <ion-title>Review</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="close()">Close</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label position="stacked" >Review</ion-label>
    <ion-textarea (ionInput)="review($event)" rows="6" cols="20" placeholder="write a review..."></ion-textarea>
  </ion-item>


  <div class="submit-button">
    <ion-button color="primary" expand="block" [disabled]="reviewWord ? false : true" (click)="submit()">Submit</ion-button>
  </div>
</ion-content>
