<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text=""></ion-back-button>
    </ion-buttons>
    <ion-title>Feedback</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <form [formGroup]= "myForm" class="form-container">
    

    <ion-item>
      <ion-label position="floating">Name<ion-text color="danger">*</ion-text></ion-label>
      <ion-input type="text" formControlName="name"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Gender<ion-text color="danger">*</ion-text></ion-label>
      <ion-select formControlName="gender">
        <ion-select-option>Female</ion-select-option>
        <ion-select-option>Male</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Email Address<ion-text color="danger">*</ion-text></ion-label>
      <ion-input type="email" formControlName="email"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Mobile No.</ion-label>
      <ion-input type="text" formControlName="mobile"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Address</ion-label>
      <ion-input type="text" formControlName="address"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Feedback<ion-text color="danger">*</ion-text></ion-label>
      <ion-textarea formControlName="feedback"></ion-textarea>
    </ion-item>

    <div class="button-nav">
      <ion-button expand="block" [disabled]="!myForm.valid" (click)="submit()">Submit</ion-button>
    </div>
        


  </form>

</ion-content>


