

.form-container {
    padding: 5px !important;
    height: 100%;
    width: 100%;
}

.button {
    width: 100%;
    position: absolute;
    bottom: 10px;
}

ion-button {
    margin-inline: 0 !important;
}