<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text=""></ion-back-button>
    </ion-buttons>
    <ion-title>Edit Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item button (click)="editModal('username')">
    <ion-label>
      Username
    </ion-label>
  </ion-item>

  <ion-item button (click)="editModal('email')">
    <ion-label>
      Email
    </ion-label>
  </ion-item>
  <ion-item button (click)="editModal('password')">
    <ion-label>
      Password
    </ion-label>
  </ion-item>
</ion-content>
