<ion-header>
  <ion-toolbar>
    <ion-title>Feedback - Thank You</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    Hi {{name}}, thank you for your feedback. We will contact you within 3 working days
  </ion-grid>

</ion-content>

<ion-toolbar>
  <ion-tabs>
  <ion-tab-bar slot="bottom">
  <ion-tab-button [routerLink]="['/tabs/tab1']">
  <ion-icon name="home"></ion-icon>
  <ion-label>Back to Home</ion-label>
  </ion-tab-button>
  </ion-tab-bar>
  </ion-tabs>
 </ion-toolbar>