
ion-col {
    width: 100%;
    padding-inline-start: 0 !important;
    padding-inline-end: 0 !important;
    padding: 0 !important;
}

ion-grid {
    padding: 0 !important;
}

ion-card {
    margin: 15px 10px;
}