<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col *ngFor="let d of listBooks" size="6">
        <ion-card button routerLink="/book-details/{{d.bookId}}">
          <img [src]="d.picture"/>
          <ion-card-header>
            <ion-card-title style="font-size:initial;">{{d.title}}</ion-card-title>
            <ion-card-subtitle>{{d.author}}</ion-card-subtitle>
          </ion-card-header>

        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <!-- <ion-card>
    <img  width="300" height="400" src="./assets/The_Fault_in_Our_Stars.jpg"/>
    <ion-card-header>
      <ion-card-subtitle> John Green </ion-card-subtitle>
      <ion-card-title>The Fault In Our Stars</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Hazel Grace Lancaster (Shailene Woodley), a 16-year-old cancer patient, meets and falls in love with Gus Waters (Ansel Elgort), a similarly afflicted teen from her cancer support group. Hazel feels that Gus really understands her. They both share the same acerbic wit and a love of books, especially Grace's touchstone, "An Imperial Affliction" by Peter Van Houten. When Gus scores an invitation to meet the reclusive author, he and Hazel embark on the adventure of their brief lives.
    </ion-card-content>
    <ion-button size="medium" [routerLink]="['/bishan']">
      Read More
    </ion-button>
    <ion-button size="medium" [routerLink]="['/reviews']">
      Reviews
    </ion-button>
  </ion-card>

  <ion-card>
    <img  width="300" height="400" src="./assets/percy-sea-of-monsters.jpg"/>
    <ion-card-header>
      <ion-card-subtitle> Rick Riordan </ion-card-subtitle>
      <ion-card-title>Percy Jackson Sea Of Monsters</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      The Sea of Monsters is an American fantasy-adventure novel based on Greek mythology written by Rick Riordan and published in 2006. It is the second novel in the Percy Jackson & the Olympians series and the sequel to The Lightning Thief. This book chronicles the adventures of thirteen-year-old demigod Percy Jackson as he and his friends rescue his satyr friend Grover from the Cyclops Polyphemus and save Camp Half-Blood from a Titan's attack by bringing the Golden Fleece to cure Thalia's poisoned pine tree.   </ion-card-content>
    <ion-button size="medium" [routerLink]="['/bishan']">
      Read More
    </ion-button>
    <ion-button size="medium" [routerLink]="['/reviews']">
      Reviews
    </ion-button>
  </ion-card>

  <ion-card>
    <img  width="300" height="400" src="./assets/Hunger-book.jpg"/>
    <ion-card-header>
      <ion-card-subtitle> John Green </ion-card-subtitle>
      <ion-card-title>The Fault In Our Stars</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Hazel Grace Lancaster (Shailene Woodley), a 16-year-old cancer patient, meets and falls in love with Gus Waters (Ansel Elgort), a similarly afflicted teen from her cancer support group. Hazel feels that Gus really understands her. They both share the same acerbic wit and a love of books, especially Grace's touchstone, "An Imperial Affliction" by Peter Van Houten. When Gus scores an invitation to meet the reclusive author, he and Hazel embark on the adventure of their brief lives.
    </ion-card-content>
    <ion-button size="medium" [routerLink]="['/bishan']">
      Read More
    </ion-button>
    <ion-button size="medium" [routerLink]="['/reviews']">
      Reviews
    </ion-button>
  </ion-card>

  <ion-list lines="full">
    <ion-item-group>
      <ion-item *ngFor="let item of " routerLink="/detailscca/{{item.key}}" detail>{{item.name}}</ion-item>
    </ion-item-group>
  </ion-list> -->

</ion-content>
 
