<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Favourites 
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Favourites</ion-title>
    </ion-toolbar>
  </ion-header>



  <div *ngIf="listBooks.length === 0" class="banner-favourites">
    <h4>Start to find your favourite book!</h4>
  </div>

  <ion-list>
    <ion-item button *ngFor="let b of listBooks" routerLink="/book-details/{{b.favId}}">
      <ion-thumbnail slot="start" id="fav-thumbnail">
        <img [src]="b.picture">
      </ion-thumbnail>
      <ion-label>{{b.title}}
        <p>{{b.author}}</p>
      </ion-label>
  
    </ion-item>
  </ion-list>
</ion-content>
