#bookImg {
    text-align: center;
    height: 300px;
    margin: auto;
}

.bookContainer {
    text-align: center;
}

.user-header-card {
    padding: 20px;
    display: flex;
}

.user-header-card p {
    margin-left: 5px;
}

.review-content {
    padding-top: 0 !important;
}

.review-menu {
    top: 10px;
    position: absolute;
    right: 0px;
}

.first-review {
    padding: 10px 20px 20px 20px
}

#date-label {
    width: 100%;
    float: right;
    text-align: right;
    padding: 10px;
}

#space {
    width: 100%;
    margin-bottom: 80px;
}

.nav-map {
    padding-right: 15px;
    width: 100%;
    text-align: end;
}