#bookImg {
    text-align: center;
    height: 300px;
    margin: auto;
}

.bookContainer {
    text-align: center;
}

.user-header-card {
    padding: 20px;
    display: flex;
}

.user-header-card p {
    margin-left: 5px;
}

.review-content {
    padding-top: 0 !important;
}