<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text=""></ion-back-button>
    </ion-buttons>
    <ion-title>{{book.title}}</ion-title>
    <ion-buttons slot="end">
    
      <ion-button (click)="addBook()" *ngIf="!fav" >
        <ion-icon name="heart-outline" slot="icon-only" ></ion-icon>
      </ion-button>
      <ion-button (click)="removeBook()" *ngIf="fav" >
        <ion-icon name="heart" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
<div class="bookContainer">
  <img id="bookImg" [src]="book.picture">


</div>

<ion-card>
  <ion-card-header>
    <ion-card-title>{{book.title}}</ion-card-title>
    <ion-card-subtitle>by {{book.author}}</ion-card-subtitle>
  </ion-card-header>
</ion-card>

<ion-card>


  <ion-card-content>
    {{book.description}}
  </ion-card-content>
</ion-card>



<!-- REVIEWS -->
<ion-item-group>
  <ion-item-divider>
    <h3>Reviews</h3>
  </ion-item-divider>

  <div *ngIf="reviews.length === 0" class="first-review">
    <h4 >Be the first one to review!</h4>
  </div>
  
  <ion-card *ngFor="let i of reviews">
    <ion-button *ngIf="user.uid === i.user_id" class="review-menu" size="small" fill="clear" (click)="presentActionSheet(i.comment, i.reviewId)">
      <ion-icon slot="icon-only" name="ellipsis-vertical-outline"></ion-icon>
    </ion-button>
  
    <div class="user-header-card">
      <ion-avatar><img src="../../assets/avatar_user.png"></ion-avatar>
      <p>{{i.username}}</p>
    </div>
    <ion-card-content class="review-content">
      {{i.comment}}
    </ion-card-content>

    <div id="date-label">
      <label>{{i.isEdited ? 'Edited' : ''}} {{i.isEdited ? '•' : ''}} {{convertDate(i.date_time)}}</label>
    </div>
  </ion-card>


</ion-item-group>

<div id="space"></div>

<ion-fab vertical="bottom" horizontal="end" slot="fixed">
  <ion-fab-button (click)="reviewModal('', false)">
    <ion-icon name="pencil-outline"></ion-icon>
  </ion-fab-button>
</ion-fab>


</ion-content>
